<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PuzzleSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7D8E29091CE22B4E0019A19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D8E291A1CE22B4E0019A19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D8E29251CE22B4E0019A19E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
